//////////////////////////////////////////////////////
//       Variables       ////       Variables       //
//////////////////////////////////////////////////////

$background-color: #e6d2aa;
$secondary-background-color: #d36b00;
$primary-text-color: #f1efdc;
$secondary-text-color: #42032c;

@mixin hideTapHighlightColor() {
  // Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  // Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  // Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  line-height: 1.5;
  background-color: $background-color;
}

////////////////////////////////////////////////////////////////////////
//       Navbar       ////       Navbar       ////       Navbar       //
////////////////////////////////////////////////////////////////////////

.navbar {
  background-color: $secondary-background-color;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(66, 3, 44, 0.5);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 85vw;
  max-width: 100vw;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar a {
  display: inline-block;
  color: $primary-text-color;
  font-weight: bold;
  margin-right: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.link-hover {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: $primary-text-color;

    transition: transform 0.4s;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

//////////////////////////////////////////////////////////////////
//       Form       ////       Form       ////       Form       //
//////////////////////////////////////////////////////////////////

.search-box {
  padding: 2rem 2.5rem;
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: $secondary-background-color;
  border-radius: 0.75rem;

  // display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:hover {
    transform: scale(1.02);
  }
}

.form-control label {
  display: inline-block;
  letter-spacing: 0.25rem;
  font-weight: bold;
  color: $primary-text-color;
}

.form-control input {
  width: 100%;
  margin-top: 1rem;
  background-color: $primary-text-color;
  color: $secondary-text-color;
  font-size: 1.25rem;
  border-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

//////////////////////////////////////////////////////////////////
//       List       ////       List       ////       List       //
//////////////////////////////////////////////////////////////////

.cocktails-section {
  padding: 4rem 0;
}

.list-title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.25rem;
  margin-bottom: 3.5rem;
  color: $secondary-text-color;
}

.list-section {
  display: grid;
  margin: 0 auto;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 85vw;
  max-width: 1170px;
}

@media screen and (min-width: 576px) {
  .list-section {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.no-items {
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  color: $secondary-text-color;
  width: 70vw;
}

//////////////////////////////////////////////////////////////////
//       Card       ////       Card       ////       Card       //
//////////////////////////////////////////////////////////////////

.card {
  background: $secondary-background-color;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0.25rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0);
    transform: scale(1.03);
  }
}

.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.card-footer {
  padding: 1.5rem;
}

.card-footer h3,
.card-footer h4,
.card-footer p {
  color: $primary-text-color;
  margin-bottom: 0.3rem;
}

.card-footer h3 {
  font-size: 2rem;
}

.card-footer p {
  color: rgb(215, 215, 215);
  margin-bottom: 1rem;
}

.btn-container a {
  text-decoration: none;
  background-color: $background-color;
  color: black;
  padding: 0.5rem 1rem;
  position: relative;
}

.btn-container a:hover {
  color: $primary-text-color;
  background: transparent;
  box-shadow: none;
}
.btn-container a:before,
.btn-container a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: $primary-text-color;
  box-shadow: -1px -1px 5px 0px $background-color, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: all 0.3s ease;
}
.btn-container a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-container a:hover:before,
.btn-container a:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

////////////////////////////////////////////////////////
//       About Page       ////       About Page       //
////////////////////////////////////////////////////////

.about-section {
  margin: 3rem auto;
  text-align: justify;
  width: 70vw;
  letter-spacing: 0.25rem;

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.15rem;
  }

  .extras {
    text-align: center;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  a {
    padding: 1rem 1.5rem;
    background-color: $secondary-background-color;
    text-decoration: none;
    position: relative;
    color: $primary-text-color;
    font-weight: bold;
  }

  a:hover {
    color: $secondary-text-color;
    background: transparent;
    box-shadow: none;
  }
  a:before,
  a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: $secondary-text-color;
    transition: all 0.45s ease;
  }
  a:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  a:hover:before,
  a:hover:after {
    width: 100%;
    transition: all 0.6s ease;
  }
}

//////////////////////////////////////////////////////////////
//       Cocktail Page       ////       Cocktail Page       //
//////////////////////////////////////////////////////////////

.cocktail-page {
  text-align: center;
  padding: 5rem;

  .drink-container {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  img {
    height: 30rem;
    border-radius: .5rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  .info-container {
    text-align: left;
  }

}

